<div *ngIf="user$ | async as user">
    <p class="user-id">{{ user.id }}</p>
    <p class="user-first-name">{{ user.firstName }}</p>
    <p class="user-last-name">{{ user.lastName }}</p>
    <p class="user-gender">{{ user.gender | gender }}</p>
</div>